
.page-pdi-home{
  #page-title{
    display: none;
  }
}
.cards{
  .card{
    position: relative;
    width: 45%;
    height: 500px;
    display: inline-block;
    margin-bottom: 30px;
    padding: 10px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
    overflow: scroll;

    .card_title,
    .card_footer{
      color: #707780;
    }

    .card_title{
      margin-top: 0px;
    }
  }
  .card.odd{
    margin-right: 5%;
  }
}

.users_list{
  .user_item{
    padding: 5px ;    
    *{
      display: inline-block;
      width: 32%;
      margin-right: 1%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .user_item:nth-child(odd){
    background: #e6e0c9;
  }
  .user_item:nth-child(even){
    background: #f3f3f3;
  }
}

.strategies_list{
  .strategy_item{
    padding: 5px ;    
    *{
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .strategy_item.double{
    .name{
      width: 75%;
      margin-right: 4%;
    }
    .progress{
      width: 20%
    }
  }
  .strategy_item.single{
    *{
      width: 100%;
      margin-right: 0;
      text-align: left;
    }
  }
  .strategy_item:nth-child(odd){
    background: #e6e0c9;
  }
  .strategy_item:nth-child(even){
    background: #f3f3f3;
  }
}

.actions{
  .btn{
    margin: 20px auto;
    a{
      width: 50%;
      display: inline-block;
      margin: 0 auto;
      padding: 6px 12px;
      background: #fb5d5d;
      color: #fff;
      text-decoration: none;
    }
  }
  .search_box{
    padding: 30px 0;
    #edit-search-block-form--2{
      display: inline-block;
      padding-bottom: 7px;
      margin-bottom: 10px;
      margin-right: 5px;
      border: 0;
      border-bottom: 1px solid #ddd;
      width: 50%;
    }
    #edit-submit{
      display: inline-block;
      border: none;
      padding: 8px 18px;
      background: #2cbbbb;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1015px){
  .cards{
    .card{
      display: block;
      width: auto;
    }
    .card.odd{
      margin-right: 0;
    }
  }
}