.page-pdi-users-add{
  .breadcrumb{
    display: none;
  }
  .title{
    text-align: center;
  }
  #pdi-users-add-operator-form{
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    background: #e6e0c9;
    
    input{
      font-size: 18px;
    }

    label{
      margin-bottom: 5px;
    }
    #edit-submit{
      background: #B2A87F;
      padding: 10px;
      color: #fff;
      border: solid 1px rgba(0,0,0,0.2);
      font-size: 20px;
    }
    #edit-submit:hover{
      background: #B1991E;
    }
  }
  .card{
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    background: #e6e0c9;
    text-align: center;
  }
  .cta a{
    background: #B2A87F;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  .cta a:hover{
    background: #B1991E;
  }
}