#block-pdi-lines-pdi-calculate-progress{
  height: 30px;
  .progress_calcule{
    display: block;
    min-width: 250px;
    float: right;
    margin-right: 30px;
  }
  .progress_calcule:after{
    clear: both;
  }
  
  .cta a{
    display: block;
    background: #d4cfbb;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
  }

  .cta a:hover{
    background: #BAB7A8;
  }
}