body{
  background: #fff;
}

body.page-pdi-home{
  background: #e8ebf1;
}

#header{
  padding-top: 15px;
  background: url(../images/flor.png) no-repeat right -35px bottom -37px #d4cfbb;
  background-size: 12% , 100%; 
  padding-bottom: 20px;
}

#content{
  padding: 30px 50px 50px 50px;

}

.sidebar-first #content{
  float: left;
  width: 65%;
  margin-left: 0;
  margin-right: 0;
}

#page{
}

#main{
  padding-top: 4em;
}

#name-and-slogan{
  display: table;
  height: 120px;
  h1.header__site-name{
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
  }
}

.sidebars{
  float: none;
  width: 30%;
  margin-left: 70%;
  margin-right: 0;
  padding-top: 30px;
}

.sidebar-first .region-sidebar-first{
  width: auto;
  float: none;
  margin-left: 0;
  margin-right: 0;
}

.messages--pdi_message.pdi_message{
  background-image: none;
  border: none;
  background: #e6e0c9;
  text-align: center;
  ul li{
    list-style: none;
  }
}