#secondary-menu{
  a{
    color: #000;
  }
}

#navigation{
  padding: 20px 30px;
  height: auto;
  background: #e6e0c9;
}

#main-menu{
  ul li{
    border-right: solid 2px #525252;
  }
  a{
    color: #777;
    text-decoration: none;
    display: block;
    padding: 5px;
  }
  a:hover{
    text-decoration: underline;
  }
}

#pdi_admin_menu{
  font-family:sans-serif;
  list-style:none;
  text-decoration:none;
  margin:0;
  padding:0;
  .menu > li {
    float:left;
    span:hover{
      cursor:pointer;
    }
  }
  .menu ul {
    padding: 0;
    z-index: 99;
  }

  .menu li >ul{
    width: 100%;
  }

  .menu >li{
    margin-right: 20px;
    min-width: 220px;
    position: relative;

    span{
      text-align: center;
    }
  }
   
  .menu li a,
  .menu li span {
    background:#202020;
    color:#FFF;
    display:block;
    border:1px solid;
    padding:10px 12px;
    text-decoration: none;
  }
   
  .menu li a:hover {
    background:#0074bd;
  }
  .menu li a.first_link {
    background:#00BD4F;
  }
  .menu li.name span{
    background:#BD6200;
  }
  .menu li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  .menu li:hover > ul {
    display:block;
  }
  .menu li ul li {
    position:relative;
  }
   
  .menu li ul li ul {
    right:-140px;
    top:0;
  }
  .menu li ul li >ul{
    width: 100%;
    right: -100%;
  }
}




@media only screen and(max-width: 1015px){
  #admin-menu{
    display: none;
  }
  #page{
    padding-top: 0;
  }
}