.page-pdi-home{
  #content{
    padding: 30px 10px 50px 10px;
  }
  
  .accordions .accordion-1,
  .accordions .accordion-2,
  .accordions .accordion-3,
  .accordions .accordion-4,
  .accordions .accordion-5{
    h2{
      padding-right: 60px;
      font-size: 16px;
    }
    h2:hover{
      cursor: pointer;
    }
    transition: 0.5s;
  }

  .l-2,
  .l-3,
  .l-4,
  .l-5{
    display: none;
  }

  .card.activity{
    display: none;
  }

  .accordion-4.active .card.activity{
    display: block;
  }

  .accordions .accordion-1.active,
  .accordions .accordion-2.active,
  .accordions .accordion-3.active,
  .accordions .accordion-4.active,
  .accordions .accordion-5.active{
    .visible{
      display: block;
    }
    .progress{
      display: none;
    }
  }

  .accordions{ 
    ul{
      padding: 0;
      margin: 0;
    }
    ul li{
      list-style: none;
      display: block;
    }
    h2{
      margin: 0;
      padding: 10px 20px;
    }
    h2 span{
      font-size: 14px;
      display: block;
    }
    .progress{
      display: none;
    }
    .accordion-1 >h2{
      background: #5D4037 url('../images/accordion-opener.png') no-repeat center right 10px;
      background-size:  50px;
      color: #fff;
    }
    .accordion-2 >h2{
      background: #795548 url('../images/accordion-opener.png') no-repeat center right 10px;
      
      background-size:  50px;
      color: #fff;
      border-left: solid 5px #e8ebf1;
    }
    .accordion-3 >h2{
      background: #D7CCC8 url('../images/accordion-opener.png') no-repeat center right 10px;
      background-size:  50px;
      color: #fff;
      border-left: solid 10px #e8ebf1;
    }
    .accordion-4 >h2{
      background: #607D8B url('../images/accordion-opener.png') no-repeat center right 10px;
      background-size:  50px;
      color: #fff;
      border-left: solid 15px #e8ebf1;
    }
    .accordion-1.active >h2{
      background: #5D4037 url('../images/accordion-closer.png') no-repeat center right 10px;
      background-size:  50px;
    }
    .accordion-2.active >h2{
      background: #795548 url('../images/accordion-closer.png') no-repeat center right 10px;
      background-size:  50px;
    }
    .accordion-3.active >h2{
      background: #D7CCC8 url('../images/accordion-closer.png') no-repeat center right 10px;
      background-size:  50px;
    }
    .accordion-4.active >h2{
      background: #607D8B url('../images/accordion-closer.png') no-repeat center right 10px;
      background-size:  50px;
    }
    .accordion-2,
    .accordion-3,
    .accordion-4,
    .accordion-5{
      border-bottom: solid 3px #e8ebf1;
    }

    .card.activity{
      background: #B6B6B6;
      padding: 20px;
      margin-bottom: 30px;
      border-left: solid 20px #e8ebf1;
      color: #fff;
    }

    .card.activity h2{
      margin-right: 120px;
    }

    .finished,
    .edit{
      display: inline-block;
      padding: 20px 10px;
      width: 120px;
      float: right;
      box-sizing: border-box;
    }
    .finished{
      padding-top: 50px;
      background: url(../images/checkmark.png) no-repeat center top;
      background-size: 65px;
    }
    .edit a{
      display: inline-block;
      margin: 0 auto;
      padding: 6px 12px;
      background: #4CAF50;
      color: #fff;
      text-decoration: none;
    }
  }
}